In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('/Users/shridharmankar/spam_detection.csv')
dataset

      num_links  num_words  num_special_chars  has_spammy_keywords     label
0             4         39                 15                    1  NOT SPAM
1             1         72                  4                    1  NOT SPAM
2             3        164                  5                    1  NOT SPAM
3             3         63                  5                    1  NOT SPAM
4             1        122                  1                    0  NOT SPAM
...         ...        ...                ...                  ...       ...
9995          5         15                  1                    0  NOT SPAM
9996          1         68                 14                    1  NOT SPAM
9997          2        184                  7                    1      SPAM
9998          3        132                 12                    1      SPAM
9999          1         10                  2                    1  NOT SPAM

[10000 rows x 5 columns]

In [3]:
dataset.label.value_counts()

NOT SPAM    7000
SPAM        3000
Name: label, dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset.label = le.fit_transform(dataset.label)
dataset

      num_links  num_words  num_special_chars  has_spammy_keywords  label
0             4         39                 15                    1      0
1             1         72                  4                    1      0
2             3        164                  5                    1      0
3             3         63                  5                    1      0
4             1        122                  1                    0      0
...         ...        ...                ...                  ...    ...
9995          5         15                  1                    0      0
9996          1         68                 14                    1      0
9997          2        184                  7                    1      1
9998          3        132                 12                    1      1
9999          1         10                  2                    1      0

[10000 rows x 5 columns]

In [5]:
dataset.columns

Index(['num_links', 'num_words', 'num_special_chars', 'has_spammy_keywords',
       'label'],
      dtype='object')

In [6]:
x = dataset[['num_links', 'num_words', 'num_special_chars', 'has_spammy_keywords']]
y = dataset[['label']]

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,train_size=0.8,random_state=1)

In [8]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [9]:
model.fit(X_train, y_train)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [10]:
model.score(X_test,y_test)

0.9595

In [11]:
import pickle
pickle.dump(model, open('mlclass.pkl','wb'))