In [1]:
from pandas import read_csv
data1 = read_csv("/Users/shridharmankar/age1.csv")
data1.head()

   Age  Income
0   20   10000
1   30   15000
2   80   50000
3   50   30000
4   10    5000

In [5]:
X = data1['Age']
Y = data1['Income']

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state=0, shuffle=False)

In [41]:
print(X_train,'\n')
print(X_test,'\n')
print(y_train,'\n')
print(y_test,'\n')

0    20
1    30
2    80
3    50
4    10
5    45
6    30
7    55
Name: Age, dtype: int64

8    60
9    70
Name: Age, dtype: int64

0    10000
1    15000
2    50000
3    30000
4     5000
5    25000
6    20000
7    35000
Name: Income, dtype: int64

8    40000
9    45000
Name: Income, dtype: int64